body {
  background-color: rgb(1, 75, 1);
}

h1 {
  padding: 10px;
  text-align: center;
  color: #030405;
  font-family: 'Mulish', sans-serif;
  font-size: 48px;
}

h2 {
  font-size: 36px;
  text-align: center;
  color: #030405;
  font-family: 'Mulish', sans-serif;
  padding: 2px;
}

.box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-left: 18px;
  width: 100%;
  padding: 15px;
}

.btn {
  background-color: #00B0EF;
  display: flex;
  margin: 5px;
}

.buttons {
  display: flex;
  justify-content: center;
}

#resetButton {
  margin: auto;
}

.card {
  width: 90%;
  margin: 20px 0;
  font-family: 'Noto Sans', sans-serif;
}

form {
  display: flex;
  justify-content: flex-end;
  text-align: center;
  color: #030405;
}

footer {
  padding: 20px;
  margin: 10px 0;
  display: flex;
  margin-bottom: auto;
  justify-content: center;
  align-items: flex-end;
}

#submission {
  width: 10rem;
}

#sub-q {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-family: 'Mulish', sans-serif;
  padding-right: 5px;
}

#dailyQuote {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: white;
  width: 90%;
  padding: 5px;
  text-align: center;
}

@media only screen and (max-width: 830px) {
  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 24px;
  }

  .box {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .btn {
    background-color: #00B0EF;
    display: flex;
    margin: 5px;
    font-size: 12px;
    text-align: center;
  }

  form {
    display: flex;
    justify-content: flex-end;
    height: 30px;
    text-align: center;
    color: #030405;
    position: relative;
  }

  .mb-0 {
    font-size: 20px;
  }

  #sub-q {
    font-size: 12px;
  }

  .blockquote-footer {
    text-align: left;
    font-size: 12px;
    padding: 1px;
  }
}