body {
  background-color: rgb(1, 75, 1);
}

h1,
h2 {
  text-align: center;
  color: #030405;
}

.box {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  width: 100%;
  text-align: center;
}

.btn {
  background-color: #00B0EF;
  display: flex;
  margin: 5px;
}

.buttons {
  display: flex;
  justify-content: center;
  margin: auto;
}

#resetButton {
  margin: auto;
}

.card {
  display: flex;
  justify-content: center;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.card-body {
  padding: 30px;
}