body {
  background-color: rgb(1, 75, 1);
}

h1,
h2 {
  text-align: center;
  color: #030405;
}

.box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 30px;
  width: 100%;
}

.btn {
  background-color: #00B0EF;
  display: flex;
  margin: 5px;
}

.buttons {
  display: flex;
  justify-content: center;
  margin: auto;
}

#resetButton {
  margin: auto;
}

.card {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

form {
  display: flex;
  justify-content: flex-end;
  text-align: center;
  color: #030405;
}